.profileContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.profileWrapper {
    display: flex;
}

.feedWrapper{
    max-width: 872px;
    display: grid;
    grid-template-columns: 1fr;
}