.itemList {
    list-style: none;
    max-height: 45vh;
    overflow: auto;
}

.mainItem {
    display: grid;
    list-style: none;
    grid-template-columns: 0.05fr 0.95fr;
    align-items: center;
}

.bunItem {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.orderFooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}