@media screen and (min-width: 1200px) {
    .app {
      max-width: 1280px;
      margin: 0 auto;
    }
}

.mainDashboard {
    display: flex;
    justify-content: center;
}

.sectionHeader{
    text-align: left;
}

ul::-webkit-scrollbar {
    width: 12px;
}

ul::-webkit-scrollbar-track {
    background: #2F2F37;
}

ul::-webkit-scrollbar-thumb {
    background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}


